<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Add Person</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Update a Person:</h1>

<!--
   In Thymeleaf the equivalent of
   JSP's ${pageContext.request.contextPath}/edit.html
   would be @{/edit.html}
   -->

<form th:action="@{/updateProduit}"
      th:object="${produit}" method="POST">
    <input type="hidden" th:field="*{id}" />
    First Name:
    <input type="text" th:field="*{name}" />
    <br/>
    email:
    <input type="text" th:field="*{reference}" />
    <br/>
    Password:
    <input type="text" th:field="*{prix}"/>
    <br/>
    Promotion:
    <input type="text" th:field="*{promotion}"/>
    <br/>

    <div th:each="disponibilite : ${T(com.lecoingamer.model.Disponibilite).values()}" class="radio">
        <input type="radio" th:value="${disponibilite}" th:field="*{disponibilite}" />
        <label th:for="${#ids.prev('disponibilite')}" th:text="${disponibilite.description}"></label>
    </div>
    <br/>
    <div th:each="c : ${categories}">
        <input type="radio" th:field="*{categorie}" th:value="${c.id}" />
        <label th:for="${#ids.prev('categorie')}" th:text="${c.name}"></label>
    </div>
    <input type="submit" value="update" />
    </form>

<br/>

<!-- Check if errorMessage is not null and not empty -->

<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
    ...
</div>

</body>
