<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <title th:text="${title}">Le Coin Gamer</title>

    <!-- Common styles and scripts -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css" />

</head>
<body th:fragment="categorieList">
<div th:each="c:${categorie}">
    <a href="#" th:href="@{'/showCategorie(id=${c.id})}">
        <span th:text="${c.name}"></span>
    </a></div>



</body>
</html>