<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Add Person</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Ajouter Produit:</h1>

<!--
   In Thymeleaf the equivalent of
   JSP's ${pageContext.request.contextPath}/edit.html
   would be @{/edit.html}
   -->

<form th:action="@{/saveProduit}"
      th:object="${produit}" method="POST">
    Nom:
    <input type="text" th:field="*{name}" />
    <br/>
    Referenc:
    <input type="text" th:field="*{reference}" />
    <br/>
    prix:
    <input type="text" th:field="*{prix}" />
    <br/>
    Promotion:
    <input type="text" th:field="*{promotion}" />
    <br/>
    <div th:each="disponibilite : ${T(com.lecoingamer.model.Disponibilite).values()}" class="radio">
        <input type="radio" th:value="${disponibilite}" th:field="*{disponibilite}" />
        <label th:for="${#ids.prev('disponibilite')}" th:text="${disponibilite.description}"></label>
    </div>


        <div th:each="c : ${categories}">
            <input type="radio" th:field="*{categorie}" th:value="${c.id}" />
            <label th:for="${#ids.prev('categorie')}" th:text="${c.name}"></label>
        </div>



   <!-- <div th:each="c : ${categories}">
        <input type="radio" th:value="*{categorie}" th:field="${categorie}" />
        <label th:for="${#ids.prev('categories')}" th:text="${c.name}"></label>
    </div>-->
    <input type="submit" value="Create" />
</form>

<br/>

<!-- Check if errorMessage is not null and not empty -->

<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
    ...
</div>

</body>
</html>