<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
</head>
<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<a th:href="@{/addCategorie}" class="btn btn-danger">Ajouter Categorie</a>
<table>
    <th:block th:each="c : ${categories}" >
        <tr>
            <th>name : </th>
            <td th:text="${c.name}"><b>name : </b></td>

            <!--<th><a th:href="@{/deleteRole(id=${role.id})}" class="btn btn-danger">Delete</a>
            </th>
            <th><a th:href="@{/updateRole/{id}(id=${role.id})}">Update</a></th>
        </tr>-->
    </th:block>
</table>

</body>
</html>