<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layouts/layout::header" th:with="categorie=(${categorie})">
    <title>Users</title>
</head>
<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>
<th:block th:include="/layouts/layout :: header" th:with="categorie=(${categorie})"></th:block>

<a th:href="@{/addProduit}">Add Produit</a>
<a th:href="@{/panierPage}">Gestion de Panier</a>
<table>
    <th:block th:each="produit : ${Produits}" >
        <tr>

            <th>name : </th>
            <td th:text="${produit.name}"><b>name : </b></td>

            <th>Reference :</th>
            <td th:text="${produit.reference}"><b>e-mail :</b></td>
            <th>prix :</th>
            <td th:text="${produit.prix}"><b>e-mail :</b></td>
            <th>disponibilité:</th>
            <td th:text="${produit.disponibilite}"><b>e-mail :</b></td>
            <th>categorie:</th>
            <td th:text="${produit.categorie.name}"><b>e-mail :</b></td>

            <th><a th:href="@{/deleteProduit(id=${produit.id})}" class="btn btn-danger">Delete</a>
            </th>
            <th><a th:href="@{/updateProduit/{id}(id=${produit.id})}">Update</a></th>

            <th><a th:href="@{/addToPanier/{id}(id=${produit.id})}" >Ajouter au panier</a></th>
        </tr>



    </th:block>

</table>
<div th:replace="common/footer :: footer">...</div>
</body>
</html>