<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Add Person</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Update a Person:</h1>

<!--
   In Thymeleaf the equivalent of
   JSP's ${pageContext.request.contextPath}/edit.html
   would be @{/edit.html}
   -->

<form th:action="@{/updateUser}"
      th:object="${user}" method="POST">
    <input type="hidden" th:field="*{id}" />
    First Name:
    <input type="text" th:field="*{name}" />
    <br/>
    email:
    <input type="text" th:field="*{email}" />
    Password:
    <input type="Password" th:field="*{password}"/>
    <br/>
    <br/>
        <ul>
            <li th:each="r : ${allRoles}" >
                <input type="checkbox" th:field="*{roles}" th:value="${r.id}" />
                <label th:for="${#ids.prev('roles')}"
                        th:text="${r.name}"></label>
            </li>
        </ul>
    <input type="submit" value="update" />
    </form>

<br/>

<!-- Check if errorMessage is not null and not empty -->

<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
    ...
</div>

</body>
