<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
</head>
<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<table>
    <th:block th:each="l : ${logs}" >
        <tr>

            <th>name : </th>
            <td th:text="${l.user.name}"><b></b></td>
            <th>email : </th>
            <td th:text="${l.user.email}"><b></b></td>

            <th>IP address :</th>
            <td th:text="${l.IP}"><b></b></td>
            <th>Log Time :</th>
            <td th:text="${l.logTime}"><b></b></td>

        </tr>
    </th:block>
</table>

</body>
</html>